<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anji.tmsexpand.mapper.sqlserver.reports.IEstimatorReportMapper" >
	
	<!-- 查询日基础信息 -->
	<select id="queryDayBaseInfo" resultType="map">
		select sum(isnull(预估立方, 0)) gf, sum(isnull(体积, 0)) sf, sum(isnull(货值, 0)) thingsValue
		  from AF001_Plan_Detail t
		 where t.项目名称 = #{projectName,jdbcType=VARCHAR}
		<if test="dateSymbol == 'day' or dateSymbol == 'week'">
			and CONVERT(varchar(10), t.提货日期, 120) = #{dateValue,jdbcType=VARCHAR}
		</if>
		
		<if test="dateSymbol == 'year'">
			and CONVERT(varchar(4), t.提货日期, 120) = #{dateValue,jdbcType=VARCHAR}
		</if>
		
		<if test="dateSymbol == 'month'">
			and CONVERT(varchar(7), t.提货日期, 120) = #{dateValue,jdbcType=VARCHAR}
		</if>
	</select>
	
	<!-- 查询线路方数 -->
	<select id="listRouteData" resultType="map">
		select SUBSTRING(区域, 1, 3) route, sum(isnull(预估立方, 0)) gf, sum(isnull(体积, 0)) sf, sum(isnull(货值, 0)) hz
		  from AF001_Plan_Detail t
		 where t.项目名称 = #{projectName,jdbcType=VARCHAR}
		 and t.提货日期  = #{dateValue,jdbcType=VARCHAR}
		 	group by SUBSTRING(区域, 1, 3)
		 	order by SUBSTRING(区域, 1, 3)
	</select>
	
	<!-- 查询线路信息 -->
	<select id="listRouteDayInfo" resultType="map">
	    select CONVERT(varchar(10), 提货日期, 120)  date,
		                   经销商编码 siteCode,
			       经销商名称 siteName,
			  SUBSTRING(区域, 1, 3) route,
			  isnull(预估立方, 0) gf,
			  isnull(体积, 0) sf,
			  isnull(货值, 0) thingsValue,
	   		  CONVERT(varchar(100), isnull(cast(round(abs(体积 - 预估立方) / nullif(体积, 0) * 100, 2) as
                   numeric(20, 2)),0)) + '%' correctRate,
              CONVERT(varchar(100), isnull(cast(round(货值 / nullif(体积, 0) * 100, 2) as 
                   numeric(20, 2)),0)) + '%' volumeRatio
			  from AF001_Plan_Detail t
		 where t.项目名称 = #{projectName,jdbcType=VARCHAR}
		 and t.提货日期  = #{dateValue,jdbcType=VARCHAR}
		 <if test="route != 'sss'">
		 	and SUBSTRING(区域, 1, 3) = #{route,jdbcType=VARCHAR}
		 </if>
	</select>
	
	<!-- 查询月表格路线数据 -->
	<select id="listRouteMonthInfo" resultType="map">
		 select CONVERT(varchar(10), 提货日期, 120)  date,
		                   经销商编码 siteCode,
			       经销商名称 siteName,
			  SUBSTRING(区域, 1, 3) route,
			  isnull(预估立方 , 0) gf,
			  isnull(体积, 0) sf,
			  isnull(货值, 0) thingsValue,
	   		  CONVERT(varchar(100), isnull(cast(round(abs(体积 - 预估立方) / nullif(体积, 0) * 100, 2) as
                   numeric(20, 2)),0)) + '%' correctRate,
              CONVERT(varchar(100), isnull(cast(round(货值 / nullif(体积, 0) * 100, 2) as 
               	   numeric(20, 2)),0)) + '%' volumeRatio
			 from AF001_Plan_Detail t
		 	where t.项目名称 = #{projectName,jdbcType=VARCHAR}
		 <if test="dateSymbol == 'sss'">
		 	and CONVERT(varchar(4), t.提货日期, 120) = #{dateValue,jdbcType=VARCHAR}
		 </if>
		 <if test="dateSymbol != 'sss'">
		 	and CONVERT(varchar(7), t.提货日期, 120) = #{dateValue,jdbcType=VARCHAR}
		 </if>
		    order by date
	</select>
</mapper>